@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    }

/* Navbar Styling */
.navbar {
    height: 100px;
}

.navbar-text {
    font-weight: 500;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

/* Styling for search bar card */
.card-content {
    background-color: #f8f9fa;
    padding: 20px 20px 20px 20px;
    border: none;
    border-radius: 0%;
}

.searchbar-content {
    margin-left: -20px;
    width: 100%;
}

input[type="text"] {
    width: 200px;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
  }

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ced4da;
  }

/* Creating a border for the city display information */
.city-display-border {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

